<section class="login-section login-center">
  <div class="auto-container">
    <!-- Login Form -->
    <div class="login-form">
      <figure>
        <img
          src="assets/bellaria/images/logo.png"
          alt="logo de bakery and desert pasteleria"
          title="bakery and desert logo"
        />
      </figure>

      <h3>Para registrarte necesitamos los siguientes datos</h3>
      <!--Login Form-->
      <form method="post" action="contact.html">
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" name="username" placeholder="" required />
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label>Apellido</label>
              <input type="text" name="username" placeholder="" required />
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Fecha de Nacimiento</label>
          <input type="date" name="username" placeholder="" required />
        </div>

        <div class="form-group">
          <label>Numero Telefonico</label>
          <input type="text" name="username" placeholder="" required />
        </div>

        <div class="form-group">
          <label>Correo</label>
          <input type="text" name="username" placeholder="" required />
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <input type="email" name="email" placeholder="" required />
        </div>

        <div class="form-group justify-content-center d-flex">
          <input
            class="theme-btn"
            type="submit"
            name="submit-form"
            value="Iniciar Sesión"
          />
        </div>

        <div class="form-group pass">
          <a class="psw">Si tienes una cuenta click aqui</a>
        </div>
      </form>
    </div>
    <!--End Login Form -->
  </div>
</section>
