<section class="login-section login-center">
  <div class="auto-container">
    <!-- Login Form -->
    <div class="login-form">
      <figure>
        <img
          src="assets/bellaria/images/logo.png"
          alt="logo de bakery and desert pasteleria"
          title="bakery and desert logo"
        />
      </figure>
      <!--Login Form-->
      <form method="post" action="contact.html">
        <div class="form-group">
          <label>Correo</label>
          <input type="text" name="username" placeholder="" required />
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <input type="email" name="email" placeholder="" required />
        </div>

        <div class="form-group text-center">
          <input
            class="theme-btn"
            type="submit"
            name="submit-form"
            value="Iniciar Sesión"
          />
        </div>

        <div class="form-group pass text-center">
          <a class="psw">¿No tienes una cuenta? ¡Registrate!</a>
        </div>
        <div class="form-group pass text-center">
          <a class="psw">¿Haz perdido tu contraseña?</a>
        </div>
      </form>
    </div>
    <!--End Login Form -->
  </div>
</section>
