<section class="login-section login-center">
  <div class="auto-container">
    <!-- Login Form -->
    <div class="login-form">
      <figure>
        <img
          src="assets/bellaria/images/logo.png"
          alt="logo de bakery and desert pasteleria"
          title="bakery and desert logo"
        />
      </figure>
      <!--Login Form-->
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Correo</label>
          <input type="text" formControlName="email" />
        </div>

        <div class="form-group">
          <label>Contraseña</label>
          <input type="password" formControlName="password" />
        </div>

        <div class="form-group">
          <button
            class="theme-btn"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Iniciar Sesión
          </button>
        </div>

        <div routerLink="/auth/register" class="form-group pass">
          <a class="psw">¿No tienes una cuenta? ¡Registrate!</a>
        </div>
        <div class="form-group pass">
          <a class="psw">¿Haz perdido tu contraseña?</a>
        </div>
      </form>
    </div>
    <!--End Login Form -->
  </div>
</section>
